
/* Card horizontal más rectangular */
.card-c {
  background: rgba(255, 255, 255, 0.15); 
  border-radius: 18px;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-weight: 600;
  padding: 12px 25px;
  border-radius: 50px;
  transition: all 0.3s ease;
  display: inline-block;
}
.card-c:hover {
  transform: scale(1.07);
  box-shadow: 0 8px 20px black;
}

/* Ajustes responsive */
@media (max-width: 768px) {
  .card-c {
    width: 95% !important;   /* ocupa casi todo el ancho en celular */
  }
  .btn-gradient {
    width: 100%;             /* botón ocupa todo el ancho en móvil */
  }
}


/* Botón moderno con gradiente y efecto glow */
.btn-C {
  background: black;
  border: none;
  color: #fff;
  font-weight: 600;
  padding: 12px 28px;
  border-radius: 50px;
  transition: all 0.3s ease;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 4px 15px black;
}

.btn-C:hover {
  transform: translateY(-3px) scale(1.05);
  box-shadow: 0 8px 25px white;
  background: white;
  color: black;
}

